.title{
    font-family: 'Times New Roman', Times, serif;
}
form{
    display: inline-block;
    position: absolute;
    left: 40%;
}
form label, form input{
    display: block;
}
@media (max-width:900px) {
    form{
        display: inline-block;
        position: absolute;
        left: 20%;
        top: 10em;
        align-items: center;
        
    }
    .title{
        display: none;
    }
    .login-title h3{
        text-align: center;
        position: absolute;
        left: 30%;
        top: 120px;
    }
    .data-area{
        background-color: rgba(36, 119, 187, 0.808);
        width: 100px;
        height: auto;
    }
    .submit-button{
        color: #fff;
        background-color: rgb(23, 160, 214);
        border-radius: 8px;
        width: 220px;
        height: 35px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: 10px;
    }
    form input{
        padding-left: 10px;
        margin: 10px;
        border-radius: 5px;
        padding: 5px;
        width: 200px;
    }
}